.navbar {
	margin-top:11px; 
	margin-bottom:10px;

	.navbar-block {
		padding: 15px 0 20px;
		@media (max-width:767px) {
			overflow: hidden;
		}
	}

	.navbar-brand {
		padding: 0 ;
		margin-left: -5px;
		margin-left: 11px;

		@media (max-width:767px) {
			margin-left: 5px;
		}
	}

	.colnowsec{
		padding-top: 5px;
		margin-right: -5px;

		.getstarted {
			padding: 6px 14px;	
			text-align: center;		
		}

		.callnow {
			font-size: 16px;
		}

		@media (max-width:767px) {
			&{
				margin-right: 0px;
				width: 100%;
			}

			.getstarted, .wrap_getstart {
				width: 100%;
			}

			.callnow {
				width: 100%;
				margin: 0 0 15px;
			}

			.telicon {
				margin-top: -6px;
			}

			.telno {
				margin-right: 5px;
			}

		}					
	}

	#navbar {
		font-weight: bold;

		@media (min-width:768px) {
		//	margin-left: -13px;
		margin-top: 2px;

		.navbar-nav > li > a, .navbar-nav > li > a:hover {
			padding: 4px 19px;
		}

		.navbar-nav > li:first-child > a, .navbar-nav > li:first-child > a:hover {
			padding-left: 0;
		}			

		.navbar-nav > li.active {
			position: relative;
			&:after {
				content: ' ';
				position: absolute;
				background-color: #262626;
				width: 100%;
				top: -12px;
				height: 52px;
				z-index: 1;
			}

			a {
				position: relative;
				z-index: 5;
				color: #fff;
				cursor: default;
			}
		}		
	}
}

.search-block{
	@media (min-width:768px) {
		margin-right: -21px;

		#input {
			right: 39px;
		}
	}	
}
}

.breadcrumbs {
	border-top: 1px solid #f0f0f0;

	.breadcrumb {
		background: none;
		padding: 0;
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 15px;

		&>li+li:before {
			content: ">";
			font-family: monospace;
			color: #000;
		}

		&>.active {
			color: #da6530;
		}

		a{
			color: #000;
		}

		@media (min-width: 768px) {
		//	margin-left: -13px;
	}
}
}

.page-heading {
	background-color: #262626;
	color: #acacac;
	padding-top: 59px;

	.title-h1 {
		color: #fff;
		font-size: 18px;
		position: relative;

		&:after {
			top: auto;
			bottom: -17px;
		}
	}

	.media-style1 {
		margin-top: 76px;
		margin-bottom: 35px;

		.media-left {
			padding: 0 36px;
		}

		.media-body {
			font-size: 20px;
			line-height: 1.2;
			
			p {
				margin: 0 0 25px;
			}
		}
	}

	.media-style2 {
		font-family: 'LatoLight';
		font-size: 20px;	
		margin-top: -30px;
		margin-bottom: 30px;

		h1 {
			font-size: 30px;
			color: #fff;
			margin-top: 0;
			margin-bottom: 7px;
		}

	}

	.media-style3 {
		color: #acacac;
		font-size: 24px;

		h2 {
			font-family: 'LatoLight';
			font-size: 40px;
			font-weight: normal;
			color: #4c9f3b;
			padding-top: 4px;
			margin-bottom: 18px;
		}

		.media-left {
			padding: 25px 100px 68px 6px;
		}
	}

}

.navbar-second {
	background-color: #edeceb;

	.nav-pills {
		font-family: LatoLight;
		font-size: 18.5px;

		li{


			a {
				border-radius: 0;
				color: #666;
				line-height: 1.9;
				padding: 10px 38px;

				&:hover {
					background-color: #da6530;	
					color: #fff;
				}
			}

			&.active a {
				background-color: #da6530;
				color: #fff;
			}			
		}

	}
}

.banner-style1 {
	.banner-content {
		font-size: 22px;
		padding-top: 82px;
		font-family: LatoLight;		
		line-height: 1.23;

		p {
			margin: 10px 0 10px;
		}

		h1 {
			font-size: 28px;
			font-weight: normal;
		}

		.learnmore {
			margin-top: 30px;
		}
	}
}

.credit-report {
	padding-top: 73px;

	h2 {
		font-family: 'LatoLight';
		font-size: 40px;
		font-weight: normal;
		color: #4c9f3b;
	}

	.title-h1 {
		font-size: 20px;
		margin-bottom: 65px;
	}

	.media-style1 {
		margin-top: 53px;
		margin-bottom: 63px;

		.media-left {
			padding: 0 44px 0 0;
		}
	}
}